body {
  padding: 0;
  margin: 0;
  width: 100%;
}

html {
  height: 100%;
}

a {
  color: #000;
  text-decoration: none;
}

#top-navbar {
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  box-shadow: 0 4px 2px -2px #d3d3d3;
  border-bottom: 2px #d3d3d3;
  background-color: white;
}

.navbar-items {
  list-style-type: none;
  width: 100%;
  height: 100%;
}

.topbar-item {
  padding-left: 20px;
  height: 100%;
  display: inline;
}

.left-topbar {
  float: left;
}

.left-topbar img {
  padding: 10px 0 10px 0;
  height: 36px;
  margin: 0 auto;
} 

#search-bar {
  height: 100%;
  padding-left: 60px;
  top: 0px;
}

.search-input, .search-button {
  border: 1px solid #d3d3d3;
  border-radius: 2px;
  height: 32px;
  display: inline;
  float: left;
  margin: 13px 0;
}

.search-input {
  max-width: 500px;
  width: 50vw;
  padding: 0;
  padding-left: 15px;
}

.search-input:focus {
  border: 1px solid #36f;
  box-shadow: inset 0 1px 0 #d3d3d3;
}

.search-button {
  height: 16px;
  padding: 8px 15px;
  opacity: .5;
  background-color: #f4eded;
}

.search-button:hover {
  background-color: #e8e7e7;
  opacity: 1;
}

.menu-icon {
  opacity: .5;
}

.navbar-items {
  list-style-type: none;
  margin: 0;
  padding-left: 20px;
}

#logo {
  height: 24px;
  padding: 16px 0 16px 0;
}

.right-topbar {
  float: right;
}

.right-topbar-item {
  padding: 0 20px 0 10px;
  margin: auto;
}

.right-topbar-item .menu-icon {
  height: 24px;
  padding: 16px 0;
  opacity: .3;
}

.profile-picture {
  height: 36px;
  padding: 10px 0;
  border-radius: 50%;
}


.grid {
  padding: 86px 40px 0 40px;
  justify-content: center;
  height: 100%;
}

#primary-content, #side-content {
  display: inline;
}

#primary-content {
  float: left;
  padding-right: 20px;
}

#video-container {
  width: 1024px;
  height: 576px;
  display: block;
}

#main-video {
  width: 100%;
  height: 100%;
}

#side-content {
  float: left;
  top: 0;
  vertical-align: top;
}

.sidebar-item {
  line-height: 1.6;
  color: #000;
  width: 600px;
  display: block;
  padding-bottom: 10px;
  height: 94px;
} 

.sidebar-item p {
  margin: 0;
  color: gray;
}

.sidebar-item a .vid-title {
  color: black;
  font-weight: 500;
}

.thumbnail-container {
  float: left;
  padding-right: 20px
}

.thumbnail {
  object-fit: cover;
  height: 94px;
  width: 168px;
}

.next-video {
  border-bottom: 1px solid #d3d3d3;
  padding-bottom: 20px;
}  

.sidebar-items li:nth-child(2) {
  padding-top: 20px;
} 

#video-primary-info, #description {
  border-bottom: 1px solid #d3d3d3;
  width: 1024px;
  padding-bottom: 15px;
  overflow: hidden;
}

#video-primary-info h4 {
  display: block;
  font-weight: 600;
}

#video-primary-info p {
  color: gray;
  margin: 0;
  padding-right: 20px;
  display: inline;
}

.video-options {
  float: right;
  display: inline;
}

.video-options img {
  height: 24px;
  padding-right: 10px;
  display: inline;
}

#description {
  padding: 15px 0 30px 0;
}

#description .profile-picture {
  width: 48px;
  height: 48px;
}

#description h4 {
  padding-top: 20px;
  color: black;
  font-weight: 600;
  margin: 0;
}

#description-date {
  padding-bottom: 30px;
  color: gray;
  margin: 0;
}

#description .blue-link {
  padding-bottom: 45px;
}

#showmore {
  color: gray;
  font-weight: 600;
  margin: 0;
}

.profile-icon-container {
  height: 100%;
  padding-right: 20px;
  float: left;
  position: relative;
}

.center-description {
  float: left;
}

.blue-link {
  color: #0645AD;
}

#subscribe-button {
  height: 36.8px;
  width: 144.8px;
  float: right;
  color: white;
  background-color: #e62117;
  border: none;
  border-radius: 2px;
  font-size: 14px;
}
